body,
html {
    height: 100%;
}

#player .ship {
    border: none;
    background-color: #2f70a5;
}

.empty {
    border: none;
}

.computer .hover:hover {
    background-color: aliceblue;
}

.main {
    height: 100%;
}

.play-btn {
    z-index: 2;
    width: 100px;
    height: 50px;
    position: absolute;
    left: calc(50% - 46px);
    top: calc(50% - 70px);
    font-size: 1.5em;
    background-color: #4682b4;
    color: white;
}

.play-btn:hover {
    color: white;
    background-color: #2f70a5;
}

.randomize {
    cursor: pointer;
    color: #4682b4;
}

.randomize:hover {
    border-bottom: 2px dotted;
}

.randomize:active {
    border-bottom: 2px dotted red;
}

span.grid {
    border-right: #2f70a5 solid 0.1em;
    padding-right: 5px;
}

.randomize .material-icons {
    font-size: 12px;
}

table {
    width: 90%;
    margin: 0 auto;
}

thead th {
    padding-bottom: 10px;
}

td {
    width: calc(100/11%);
    position: relative;
    border: 1px solid rgb(213, 213, 213);
}

th {
    font-size: 13px;
    color: #4682b4;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.td:hover {
    background-color: aliceblue;
}

th {
    font-weight: 100;
}

.vertical-center {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}